@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
    --primary: #f9cc98;
    --background: #fff1ce;
    --text: #0f0f0f;
    --button_text: #0f0f0f;
    --button: #ffeab4;
    --border: #6e6e6e;
    --hover: #ffd796;
    --shadow_1: #0000003d;
    --shadow_2: #00000030;
}

body {
    margin: 0;
}

.header {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8125em;
    font-family: 'Nunito' ,Georgia, 'Times New Roman';
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    min-height: 100vh;
    font-family: 'Nunito' ,Georgia, 'Times New Roman';
    background-color: var(--background);
}

.btn {
    cursor: pointer;
    padding: 5px 10px;
    background-color: var(--button);
    transition-duration: 0.4s;
    font-family: 'Nunito', Georgia, 'Times New Roman';
    font-size: 1.125em;
    font-weight: bold;
    color: var(--button_text);
    border-radius: 8px;
    width: 90px;
    border: 2px solid var(--border);
    box-shadow: 0 12px 16px 0 var(--shadow_1), 0 17px 50px 0 var(--shadow_2);
}

.btn:hover {
    background-color: var(--hover);
    color: var(--text);
    border: 2px solid var(--border);
    border-radius: 8px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0; 
    gap: 5px;
}

.footer {
    display: flex;
    background-color: var(--primary);
    color: var(--text);
}

.made_by {
    margin-left: 10px;
}